.d3-details {
    width: 960px;
    height: 500px;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bar-plot {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    position: relative; 
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
}