svg {
  display: block;
  margin: 0 auto;
}

.nav {
  font-size: 1.8em !important;
  font-weight: bold !important;
  color: rgba(65, 6, 6, 0) !important;
}

.navbar-nav {
  margin-left: auto;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #fff;
  stroke-width: 2px;
}

.node--leaf {
  fill: rgba(255, 255, 255, 0.85);
}

.label {
  font: 7px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  pointer-events: none;
}

.node--root,
.node--leaf {
  pointer-events: none;
}

.node--leaf {
  pointer-events: all;
}

#d3-breadcrumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.d3-details {
  max-width: 850px;
  margin: 0 auto;
}
