svg {
  height: 760px;
  width: 1100px;
}

.nav {
  font-size: 1.8em !important;
  font-weight: 2em !important;
  color: rgba(65, 6, 6, 0) !important;

}

.navbar-nav {
  margin-left: auto;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 7px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}